.terraform.lock.hcl
.terraform/providers/*
terraform.tfstate
hello.txxt
.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.11.0/linux_amd64/terraform-provider-azurerm_v3.11.0_x5
terraform.tfstate.backup